# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Christian\Schule\5DHIT\Systemtechnik\syt5-gk961-cloud-datenmanagement-cgrubmueller\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
